services:
  app-dev:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./../:/workspace:cached
    command: sleep infinity
    networks:
      - dev_network

  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - dev_network

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=StrongPassword123
    ports:
      - "1433:1433"
    networks:
      - dev_network
    volumes:
      - mssql_data:/var/opt/mssql

  postgres:
    image: postgres:16-alpine
    container_name: backend-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: webapp
    networks:
      - dev_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  dev_network:
    name: dev_network
    driver: bridge

volumes:
  redis_data:
  mssql_data:
  postgres_data:
